

@font-face {
    font-family: "post-no-bills-jaffna";
    src: url("../fonts/PostNoBillsJaffna-Bold.ttf") format("truetype");
}

body {
    font-family: 'PT Sans', sans-serif;
    max-width: 1440px;
    box-sizing: border-box;
    margin: 0 auto;
    padding: 0;
}

.header {
    width: 100%;
    height: 44px;
    background-color: black;
    display: flex;
    color: gray;
    justify-content: space-around;
    font-size: 12px;
    padding-top: 22px;
}

.header-contact {
    display: flex;
}

.header-contact div {
   margin-left: 10px;
}

.header-regestration {
    display: flex;
}

.header-regestration div {
    margin-left: 10px;
}

.section-menu {
    width: 100%;
    height: 80px;
    background-color: #0F0F0F;
    color: white;
    display: flex;
    justify-content: space-around;
}

.logo {
    font-family: "post-no-bills-jaffna";
    font-size: 36px;
    margin-left: 10%;
    margin-top: 20px;
}

.menu {
    display: flex;
    font-size: 14px;
}

.menu a {
    text-align: center;
    color: gray;
    width: 136px;
    margin-left: 20px;
    padding-top: 18px;
    line-height: 55px;
    text-decoration: none;
}

a.menu-img {
    width: 30px;
}

.menu a:hover {
    background-color: #1F1F1F;
    color: white;
}


.burgerMenu {
    display: none;
}

.section-introdaction {
    border-top: 1px solid black;
    background-image: url("../img/image 1.png");
    background-repeat: no-repeat;
    background-position-x: center;
    width: 100%;
    height: 810px;
    color: white;
}

.section-introdaction-square {
    width: 320px;
    height: 320px;
    margin: 0 auto;
    margin-top: 200px;
    border: 4px solid white;
    text-align: center;
}

.section-introdaction-logo {
    font-family: "post-no-bills-jaffna";
    font-size: 64px;
    line-height: 50px;
    margin-top: 120px;
    margin-bottom: 10px;
}

.section-introdaction-line {
    line-height: 1px;
    width: 179px;
    margin: 0 auto;
    border-bottom: 2px solid white;
}

.section-introdaction-location {
    font-size: 22px;
    margin-bottom: 190px;
    margin-top: 5px;
}

.section-introdaction-some-text {
    width: 60%;
    margin: 80px auto;
    text-align: center;
}

.section-advertising-1 {
    border-top: 1px solid black;
    width: 100%;
    height: auto;
    color: white;
    display: flex;
}

.section-advertising-1-product {
    width: 55%;
    background-color: black;
}

.section-advertising-1-product h1 {
    font-family: 'Playfair Display', serif;
    font-size: 36px;
    margin-top: 60px;
    text-align: center;
}

.section-advertising-1-product-line {
    line-height: 1px;
    width: 120px;
    margin: 0 auto;
    border-bottom: 1px solid white;
}

.section-advertising-1-product-container {
    display: flex;
    margin: 50px 5% 50px 0;
}

.section-advertising-1-product-item {
    height: 405px;
    background-color: #191B1C;
    width: 260px;
    margin-left: 15px;
    padding-top: 55px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.section-advertising-1-product-item-name-cost {
    font-family: 'Playfair Display', serif;
    background-color: black;
    border-bottom: 1px solid black;
    padding-top: 10px;
    height: 80px;
}

.section-advertising-1-product-item-name {
    font-size: 18px;
}

.section-advertising-1-product-item-cost {
    font-size: 16px;
}

.section-advertising-1-model {
    background-image: url("../img/image 3.png");
    background-repeat: no-repeat;
    width: 45%;
}

.section-advertising-1-model-colection-catalog {
    width: 376px;
    height: 146px;
    margin: 0 auto;
    margin-top: 350px;
    text-align: center;
}

.section-advertising-1-model-colection {
    font-family: 'Playfair Display', serif;
    font-size: 36px;
    line-height: 10px;
}

.section-advertising-1-model-line {
    line-height: 1px;
    width: 120px;
    margin: 0 auto;
    border-bottom: 1px solid white;
    margin-bottom: 20px;
}

.section-advertising-1-catalog {
    width: 138px;
    height: 47px;
    border: 1px solid white;
    font-size: 18px;
    line-height: 18px;
    margin: 0 auto;
}

.section-advertising-2 {
    width: 100%;
    height: auto;
    display: flex;
}

.section-advertising-2-model {
    background-image: url("../img/image 4.png");
    background-repeat: no-repeat;
    width: 45%;
}

.section-advertising-2-colection {
    background-color: black;
    width: 55%;
    color: white;
}

.section-advertising-2-colection-container {
    width: 70%;
    margin: 0 auto;
    margin-top: 100px;
    text-align: center;
}

.section-advertising-2-colection-container h1 {
    font-family: 'Playfair Display', serif;
    font-size: 36px;
}

.section-advertising-2-colection-container-line {
    line-height: 1px;
    width: 120px;
    margin: 0 auto;
    border-bottom: 1px solid white;
}

.section-advertising-2-colection-container p {
    margin-top: 30px;
    font-size: 14px;
}
.section-advertising-2-colection-button {
    margin: 0 auto; 
    margin-top: 50px;
    width: 78%;
    height: 50px;
    border: 1px solid white;
}

.section-advertising-2-colection-button p {
    font-size: 18px;
    line-height: 1px;
}

.section-advertising-3 {
    width: 100%;
    background-color: black;
    color: white;
    border: 1px solid black;
    padding-top: 50px;
}

.section-advertising-3 h1 {
    font-family: 'Playfair Display', serif;
    font-size: 36px;
    text-align: center;
    margin-top: 10px;
}

.section-advertising-3-line {
    line-height: 1px;
    width: 120px;
    margin: 0 auto;
    margin-bottom: 50px;
    border-bottom: 1px solid white;
}

/* .section-advertising-3-product-container {
    display: grid;
	grid-template-columns: auto auto auto auto;
    width: 80%;
    margin: 0  auto;
} */

.section-advertising-3 {
    height: 620px;
}

.swiper {
    width: 260px;
    height: 465px;
}

.section-advertising-3-product-item {
    background-color: #191B1C;
    width: 260px;
    padding-top: 55px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.section-advertising-3-product-item-name-cost {
    background-color: black;
    padding-top: 10px;
    height: 140px;
}

.section-advertising-3-product-item-name {
    font-size: 18px;
}

.section-advertising-3-product-item-cost {
    font-size: 16px;
}

.section-advertising-4 {
    border: 1px solid #0F0F0F;
    width: 100%;
    height: auto;
    background-color: #0F0F0F;
}

.section-advertising-4-wrapper {
    width: 80%;
    margin: 0 auto;
}

.section-advertising-4-wrapper h1 {
    font-family: 'Playfair Display', serif;
    font-size: 36px;
    text-align: center;
    margin-top: 50px;
    color: white;
}

.section-advertising-4-wrapper-line {
    line-height: 1px;
    width: 120px;
    margin: 0 auto;
    margin-bottom: 10px;
    border-bottom: 1px solid white;
}

.section-advertising-4-wrapper-container {
    width: 100%;
    display: flex;
}


.section-info {
    border: 1px solid #0F0F0F;
    background-image: url("../img/image 6.png");
    background-repeat: no-repeat;
    color: white;
    width: 100%;
    height: 400px;
}

.section-info-wrapper {
    width: 90%;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    padding-top: 50px;
}

.section-info-wrapper-about {
    width: 33%;
}

.section-info-wrapper-about h1 {
    font-family: 'Playfair Display', serif;
    font-size: 36px;
    margin-bottom: 50px;
}

.section-info-wrapper-categoria {
    width: 33%;
    margin-left: 5%;
}

.section-info-wrapper-categoria h1 {
    font-family: 'Playfair Display', serif;
    font-size: 36px;
    margin-bottom: 50px;
}

.section-info-wrapper-categoria-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    width: 80%;
    text-align: center;
}

.box-1 {
    width: 70px;
    height: 40px;
    background-color: black;
    margin-bottom: 10px;
}

.box-2 {
    width: 100px;
    height: 40px;
    background-color: black;
    margin-bottom: 10px;
}

.box-3 {
    width: 80px;
    height: 40px;
    background-color: black;
    margin-bottom: 10px;
}

.box-4 {
    width: 170px;
    height: 40px;
    background-color: black;
    margin-bottom: 10px;
}

.box-5 {
    width: 100px;
    height: 40px;
    background-color: black;
    margin-bottom: 10px;
}

.section-info-wrapper-mailing {
    width: 33%;
}

.section-info-wrapper-mailing h1 {
    font-family: 'Playfair Display', serif;
    font-size: 36px;
    margin-bottom: 50px;
}

.section-info-wrapper-mailing-container {
    display: flex;
    margin-top: 30px;
}

.section-info-wrapper-mailing-container-yourmaile {
    box-sizing: border-box;
    width: 60%;
    height: 40px;
    background-color: gray;
    padding-top: 8px;
    padding-left: 15px;
    flex-shrink: 0;
}

.section-info-wrapper-mailing-container-subscribe {
    box-sizing: border-box;
    width: 40%;
    height: 40px;
    background-color: black;
    padding-top: 8px;
    text-align: center;
    flex-shrink: 0;
}

@media screen and (max-width: 1200px){

    .section-advertising-1 {
        flex-direction: column;
    }

    .section-advertising-1-product {
        width: 100%;
    }

    .section-advertising-1-product-container {
        width: 70%;
        margin: 0 auto;
        margin-top: 20px;
    }

    .section-advertising-1-model {
        width: 100%;
        background-color: black;
    }

    .section-advertising-2 {
        flex-direction: column;
    }

    .section-advertising-2-model {
        width: 100%;
        height: 500px;
        background-color: black;
    }

    .section-advertising-2-colection {
        width: 100%;
    }

    

    .section-advertising-4-wrapper-container {
        width: 40%;
        flex-wrap: wrap;
        margin: 0 auto;
    }

    .section-info {
        background-repeat: repeat;
        height: auto;
    }
    
    .section-info-wrapper {
        display: block;
        width: 40%;
    }

    .section-info-wrapper-about {
        width: 100%;
    }
    .section-info-wrapper-categoria {
        margin-left: 0;
        width: 100%;
    }

    .section-info-wrapper-mailing {
        width: 100%;
    }
}

@media screen and (max-width: 860px) {

    .section-advertising-1-product-container {
        flex-direction: column;
        margin: 0 auto;
        width: 70%;
    }

    .section-advertising-1-product-item {
        margin: 10px auto;
        padding-top: 20px;
    }
    
}

@media screen and (max-width: 680px){ 
    
    
    .header {
        flex-direction: column;
    }
    
    .section-menu {
        height: auto;
        flex-direction: column;
        align-items: center;
        position: absolute;
    }

    .logo {
        margin-left: 5%;
    }

    .burgerMenu {
        display: block; 
        cursor: pointer; 
    }

    .burgerMenu:hover {
        background-color: yellow;
    }

    .menu {
        flex-direction: column;
        display: none;
        position: relative;

    }
    
    .menu-ON {
        display: flex;
    }

    .section-advertising-1-product h1 {
        font-size: 25px;
    }

    .section-advertising-2-colection-button p {
        font-size: 12px;
    }

    .section-advertising-3 h1 {
        font-size: 25px;
    }

    .section-advertising-3-product-item {
        left: 23%;
    }

    .buttons {
        left: 38%;
    }

    .prev, .next {
        background-color: red;
    }

    .section-advertising-4-wrapper-container {
        width: 60%;
    }

    .section-info-wrapper-mailing-container-subscribe {
        font-size: 10px;
        padding-top: 13px;
    }

    .section-info h1 {
        font-size: 20px;
    }
    
    .section-info-wrapper {
        width: 80%;
    } 
}


@media screen and (max-width: 260px) {

    .section-introdaction-square {
        text-align: left; 
    }
    
    .section-introdaction-line {
        margin: 0;
    }


    .section-advertising-1-product h1 {
        font-size: 14px;
    }
}
